.slider {
  height: 250px;
  background-color: #23252e;
  border-radius: 10px;
}
.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
  .slide_frame {
    width: 100px;
    height: 100px;
    background-color: #b9b9b956;
    padding: 5px;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  h4 {
    color: #fff;
  }
}
